body 
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  background: whitesmoke;
    
}
  
  /* Form styles */
form 
{
  max-width: 400px;  
  margin: 50px auto;
  padding: 30px;  
  border: 2px solid #ddd;
  }
  
label 
{
  font-weight: bold;
}
  
input 
{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px; 
}
  
button[type="submit"] 
{
  background-color: #ADD8E6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;  
}


#title 
{
  text-align: center;
}

#newUser 
{
  text-align: center;
}
 
