body {
    margin-top: 150px;
    font-size: 5em;
    text-align: center;
    background: whitesmoke;
    font-family: Lucida Handwriting;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#email-box {
    position:relative;
    width: 300px;
    left: 520px;
}

#email-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#email-label {
    position: absolute;
    top: 69%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#signup-button {
    position: relative;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    right: 520px;
    top: 20px;
}

#sign-in {
    margin-top: 30px;
    font-size: 15px;
}

.underlined-text {
    text-decoration: underline;
}