@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900');
/* Style the page content */
body
{
    background-color: #2D6CC0;
    background-image: url(../images/bg.png);
    font-family: Merriweather;
}
 /* Page header */
#title
{
  text-align: center;
  color: #020709;
}
 /* Motivation text */ 
#motivation
{
  font-style: italic;
  text-align: center;
}
   
/* Team member headings */
#memberName
{
  text-align: center;
} 


#mission
{
  font-style: italic;
  text-align: center;
} 


/* Team member sections */
section {
  background-color: transparent;
  padding: 20px;
  width: 200px;
  margin: 20px auto;
  border: 2px solid #070404; 
  text-align: center; 
  position: relative;
}
 /* Images */ 
img
{
  border-radius: 50%; 
  border: 2px solid #080303;
}
 /* Section inner div */
.inner {
  display: inline-block;
  text-align: center;
}