@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900');
body{
    background-color: #2D6CC0;
    background-image: url(../images/bg.png);
    flex-direction: column;
    font-family: Merriweather;
}

.stats
{
  font-weight: bold;
}

#bargraph {
    width: 600px;
    height: 600px;
    background-color: transparent;
    color: black;
    margin: auto;
}

#piegraph {
    width: 600px;
    height: 600px;
    background-color: transparent;
    color: white;
    margin: auto;
}

/* Got help online for code relating to displaying the tooltip*/
/* https://stackoverflow.com/questions/64986774/how-to-keep-and-hide-tooltip-on-mouse-hover-and-mouse-out */
#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.hidden {
    display: none;
}

#tooltip:not(.hidden) {
    opacity: 1;
}

.graphs-container {
    display: flex;
    justify-content: center;
}

.chart-container {
    width: 45%; /* Adjust the width as needed */
    margin-right: 20px; /* Adjust the margin between charts */
    text-align: center; /* Center the inline-block elements */
}

.dropbtn{
    position: absolute;
    float: right;
    background-color: #fcf071c1;
    color: black;
    padding: 14px;
    font-family: Merriweather;
    font-size: 15px;
    font-weight: 700;
    border-radius: 12px;
    border: #f9f9f9;
    cursor: pointer;
    right: 0;
  }
  
  .dropdown{
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: #fcf071a1;
    border-radius: 12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: Merriweather;
    font-weight: 400;
    text-align: center;
    display: block;
  }
  
  .dropdown-content a:hover{
    background-color: #fcf071a1;
    
  }
  
  .dropdown:hover .dropdown-content{
    display: block;
    margin-top: 47px;
  }
  
  .dropdown:hover .dropbtn{
    background-color: #3e8e41;
  }