@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900');
body{
    background-color: #2D6CC0;
    background-image: url(../images/bg.png);
    flex-direction: column;
    font-family: Merriweather;
}

.stats
{
  font-weight: bold;
}

#bargraph {
    width: 700px;
    height: 700px;
    background-color: transparent;
    color: black;
    margin: auto;
}

#piegraph {
    width: 700px;
    height: 700px;
    background-color: transparent;
    color: white;
    margin: auto;
}

/* Got help online for code relating to displaying the tooltip*/
/* https://stackoverflow.com/questions/64986774/how-to-keep-and-hide-tooltip-on-mouse-hover-and-mouse-out */
#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.hidden {
    display: none;
}

#tooltip:not(.hidden) {
    opacity: 1;
}

.graphs-container {
    display: flex;
    justify-content: center;
}

.chart-container {
    width: 45%; /* Adjust the width as needed */
    margin-right: 20px; /* Adjust the margin between charts */
    text-align: center; /* Center the inline-block elements */
}
