@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900');

body 
{
  font-family: Merriweather;
  margin: 0px;
  padding: 0;
  margin-top: 15px;
  background-image: url(../images/bg.png);
    
}
  
  /* Form styles */
form 
{
  max-width: 400px;  
  margin: 50px auto;
  padding: 30px;  
  border: 2px solid #ddd;
  }
  
label 
{
  font-weight: bold;
}
  
input 
{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px; 
}
  
button[type="submit"] 
{
  background-color: #ADD8E6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;  
}


#title 
{
  text-align: center;
}

#newUser 
{
  text-align: center;
}

label
{
  color: black
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
#title {
  /* Other styles for the title */
  animation: upDown 0.5s infinite;
  animation-play-state: paused;
}

#title:hover {
  animation-play-state: running;
}
 